*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  color: #5f6368;
}


body{
  height: 100%;
  color: #5f6368;
  background-color: #fff;
  color: rgba(0,0,0,0.87);
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.54;
}

header{
  height: 200px;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar{

  background: #fff;
  border-bottom: 1px solid rgba(151,151,151,0.5);
  padding: 24px 24px 0 24px;
  width: 100%;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}

.logo p{
  display: inline-block;
  color: #5f6368;
  font-family: "product sans","open sans",arial,sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
}
.logo img{
  vertical-align: middle;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.menu-sx{
  width: 40%;
}
.menu-sx ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.menu-sx ul li a{
  padding: 0 0 6px 0;
  font-size: 14px;

  font-weight: 600;
}
.menu-dx a{
  padding: 0 0 6px 0;
  font-size: 14px;
  color: #5f6368;
  font-weight: 600;
}
a.selected-a{
  color: #3367d6;
  padding-bottom: 3px;
}
li.selected{

  border-bottom: 3px solid #3367d6;
}

.numero {
  width: 100%;
  height: 30px;
  background-color: #3367d6;
  border-bottom: 1px solid white;
}
.numero h2{
  text-align: center;
  color: #fff;
}

main{
  width: 100%;
}
.container{
  width: 55%;
  margin: 92px auto;
  padding: 32px;
}

.container h2{
color: #3c4043;
font-family: 'Google Sans',sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 32px;
margin: 0;
padding: 64px 0 0 0;
}
.container p{
  letter-spacing: .2px;
  line-height: 24px;
  padding-top: 20px;
}
.container h2 a,
.container p a{
  color: #3367d6;
}

/* |||| FOOTER |||| */
footer {
  height: 50px;
  width: 100%;
  background-color: #F5F5F5;
  border-top: solid #E6E6E6 1px;
  margin-top: 30px;
}
footer .container-footer {
  height: 50px;
  width: 60%;
  margin: 0 auto;
  display: flex;
}
footer .container-footer .footer-sx {
  height: 50px;
  width: 50%;
  display: flex;
  align-items: center;
}
footer .container-footer .footer-sx li {
  display: inline;
  list-style-type: none;
  padding-right: 11px;
}
footer .container-footer .footer-sx li a {
  color: #5F6368;
  font-size: 11px;
  text-decoration: none;
}
footer .container-footer .footer-dx {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .container-footer .footer-dx .container-foot-dx {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container-footer .footer-dx .container-foot-dx img {
  height: 20px;
  width: 20px;
}
footer .container-footer .footer-dx .container-foot-dx .lingua {
  height: 20px;
  width: 220px;
  margin-left: 10px;
}
